/* Coolors Exported Palette - coolors.co/b80c09-6b2b06-e5e7e6-b7b5b3-141301 */

/* RGB */
$linkColor: rgba(184, 12, 9, 1);
$mainHeadingColor: rgba(107, 43, 6, 1);
$resultsBgColor: rgba(229, 231, 230, 1);
$pageBgColor: rgba(183, 181, 179, 1);
$defaultColor: rgba(20, 19, 1, 1);
