@import url('https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro');
@import 'palette';

// General styles

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $pageBgColor;
  color: $defaultColor;
  font: 16px/1.428em 'Source Sans Pro', sans-serif;
}

h1,
h2 {
  font-family: 'Merriweather', serif;
  line-height: 1.428em;
}


.controls {
  button,
  input {
    color: $defaultColor;
  }

  h1 {
    color: $mainHeadingColor;
  }
}

.searchResults {
  background-color: $resultsBgColor;

  a {
    color: $linkColor;
  }
}
